.navbar {
  overflow: auto;
}
.navbar a {
  float: left;
  text-align: center;
  padding: 12px;
  color:black;
  font-family:Gadugi;
  text-decoration: none;
  font-size:25px;
}
@media screen and (max-width: 500px) {
  .navbar a {
    float: none;
    display: block;
  }
}
.navbar input[type=text] {
  position: relative;
  left: 35%;
  width:200px;
    padding: 6px 30px;
    border:none;
    border:1px solid #b0b0b0;
    color:gray;
    margin-top: 8px;
    margin-right: 16px;
    font-size: 17px;
}
nav{
  padding-bottom: 15px;
  border-bottom: 1px solid rgb(184,184,184);
}
.title{
  position: absolute; 
  top:7px;
  left:59px;
}
.mainhedding{
  position: absolute;
  left: 30%;
  top: 15%;
  font-family:calibri;
  font-size:35px;
  color:lightblack;
}
#buttn{
  position: relative;
  left:480px;
  top: -1px;
  height: 35px;
  border-top:1px solid #b8b8b8;
  border-left:1px solid #b8b8b8;
  border-bottom:1px solid #b8b8b8;
  border-right: none;
  background: transparent;
  outline: none;
  padding: 6px 12px;
  font-size:15px;
  color:rgb(172,125,235);
  cursor: pointer;
}
*{
  font-family: calibri;
}
body{
  width: 100%;
}
.lists{
  position:relative;
  top:100px;
  left: 20px;
  border:1px solid lightgray;
  width:97%;
  height:850px;
  background: white;
  z-index: 2;
}
.lists ul{
  padding-left: 60px;
  list-style: none;
  height:900px;
}
.lists ul li{
  font-weight: bold;
  position: relative;
  left: -5px;
}
.lists ul li span{
  font-weight:normal;
    position: relative;
  left: 5px;
    cursor: pointer;
}
.lists ul li a{
  text-decoration: none;
  color: gray;
}
.lists ul li:hover span{
  text-decoration: underline;
}
.lists ul .p1{
  position: relative;
  left: -30px;
  font-family: calibri;
  font-size: 25px;
}
.lists li p{
  font-weight: normal;
  position: relative;
  left: 200px;
  top: -35px;
}
.fa-clock-o{
  position: relative;
  left: -25px;
  color:rgb(172,125,325);
}
.fa-lock{
  position: relative;
  left: -25px;
  color:rgb(172,125,325);
}
.fa-check-circle{
  position: relative;
  left: -25px;
  color: green;
}
.week{
  position: relative;
  border:1px solid lightgray;
  height: 140px;
  width:97%;
  left:20px;
  top:20px;
}
.week .header1{
  position: relative;
  top:10px;
  width: 180px;
  height: 20px;
  background:chartreuse;
  padding: 6px 10px;
  color:white;
  border-right:3px solid lightgray;
}
#weekname{
  position: relative;
  top: 0px;
  left: 20px;
  font-weight: bold;
  color: dimgray;
  font-size: 20px;
}
#weekname1{
  position: relative;
  top: 40px;
  left: 20px;
  font-weight: bold;
  font-size: 20px;
  color: dimgray;
}
.week .header1 p{
  position: relative;
  top: -15px;
}
.week .p1{
  position: relative;
  top: 0px;
  left: 20px;
  color:gray;
  font-size: 18px;
}
.week button{
  position: relative;
  top: -90px;
  left: 900px;
  color:white;
  background:#4682B4;
  border: none;
  outline: none;
  padding: 10px 10px;
  width: 200px;
  font-size: 18px;
  cursor: pointer;
}
.tutor{
  position: relative;
  left: 20px;
  top: 40px;
  width:97%;
  height: 270px;
  border: 1px solid lightgray;
}
.tutor1{
  position: relative;
  left: 20px;
  top: 70px;
  width:97%;
  height: 270px;
  border: 1px solid lightgray;
}
.tutor img{
  position: relative;
  left: 30px;
  top: 30px;
}
.tutor .p3{
  position: relative;
  left: 100px;
  top: -27px;
  color:green;
  font-size: 18px;
  font-weight: bold;
}
.tutor .p2{
  position: relative;
  top: 10px;
  left: 25px;
  color: gray;
  width: 97%;
  text-indent: 15px;
  line-height: 25px;
  font-size: 18px;
}
.tutor1 .p3{
  position: relative;
  left:20px;
  top: 5px;
  font-weight: bold;
  color:green;
  font-size: 18px;
}
.tutor1 .p2{
  position: relative;
  top: 10px;
  left: 25px;
  color: gray;
  width: 97%;
  text-indent: 15px;
  line-height: 25px;
  font-size: 18px;
}