*{
	font-family: calibri;
}
.weekhead{
	border-bottom: 1px solid lightgray;
	height: 70px;
}
.weekhead .one{
	position: relative;
	top: -35px;
	left: 80px;
	padding: 10px 10px;
	font-size: 20px;
	color: dodgerblue;
}
.weekhead .two{
	position: relative;
	top: -60px;
	left:100px;
}
.weekhead button{
	position: relative;
	top: 20px;
	left: 20px;
	outline: none;
	border: none;
	background: transparent;
	color: gray;
	width:60px;
}
.question{
	position: relative;
	top: 20px;
	left:25%;
	height: 100%;
}
.question ol{
	padding:20px 50px;
}
.question ol li{
	line-height: 50px;
}
.question ol li span{
	position: relative;
	left: 35%;
	top: 20%;
}
.question button{
	position: relative;
	top: 30px;
	left: 70px;
	color:white;
  background:#4682B4;
  border: none;
  outline: none;
  padding: 10px 10px;
  width: 150px;
  font-size: 18px;
  cursor: pointer;
}
.questionfoot{
	position: relative;
	top:60px;
	height: 60px;
	border-bottom: 1px solid lightgray;
}
