#buttn{
	position: relative;
	left:480px;
	top: -1px;
	height: 35px;
	border-top:1px solid #b8b8b8;
	border-left:1px solid #b8b8b8;
	border-bottom:1px solid #b8b8b8;
	border-right: none;
	background: transparent;
	outline: none;
	padding: 6px 12px;
	font-size:15px;
	color:rgb(172,125,235);
	cursor: pointer;
}
*{
	font-family: calibri;
}
body{
  width: 100%;
}
.navbar {
  overflow: auto;
}
.navbar a {
  float: left;
  text-align: center;
  padding: 12px;
  color:black;
  font-family:Gadugi;
  text-decoration: none;
  font-size:25px;
}
@media screen and (max-width: 500px) {
  .navbar a {
    float: none;
    display: block;
  }
}
.navbar input[type=text] {
  position: relative;
  left: 35%;
  width:200px;
    padding: 6px 30px;
    border:none;
    border:1px solid #b0b0b0;
    color:gray;
    margin-top: 8px;
    margin-right: 16px;
    font-size: 17px;
}
nav{
  padding-bottom: 15px;
  border-bottom: 1px solid rgb(184,184,184);
}
.title{
  position: absolute; 
  top:7px;
  left:59px;
}
.mainhedding{
  position: absolute;
  left: 30%;
  top: 15%;
  font-family:calibri;
  font-size:35px;
  color:lightblack;
}
.quizheader{
	border: 1px solid lightgray;
	position: relative;
	top: 150px;
	left: 20%;
	width: 61%;
	height: 540px;
}
.quizheader p{
	position: relative;
	top: 50px;
	left: 50px;
}
.quizheader h3{
	position: relative;
	top: 50px;
	left: 130px;
	font-size: 30px;
}
.quizheader button{
	position: relative;
	top: 80px;
	left: 70px;
	  color:white;
  background:#4682B4;
  border: none;
  outline: none;
  padding: 10px 10px;
  width: 150px;
  font-size: 18px;
  cursor: pointer;
}

.forum{
	border: 2px solid gray;
	position: relative;
	top: 200px;
	left: 20%;
	width: 800px;
	padding: 0px 12px;
	height:55px;
	background: lightgray; 
}
.forum p{
	position: relative;
	left:300px;
}
.forum .p1{
	position: relative;
	top:-70px;
	left:70px;
}
.forumbtn{
	background: transparent;
	outline: none;
	border: none;
	position: relative;
	left:670px;
	top:-105px;
	cursor: pointer;
}
.backbtn{
	background: transparent;
	outline: none;
	border: none;
	position: relative;
	left: 30px;
	top:-35px;
	cursor: pointer;
}
.tasks{
	position: relative;
	left: 250px;
	top: 8px;
	color: rgb(172,125,235);
	background: transparent;
	font-size:17px;
	border: none;
	outline: none;
	cursor: pointer;
}
*{
	font-family: calibri;
}
.lists{
	position: absolute;
	top:67px;
	left: 0px;
	border:1px solid lightgray;
	width: 300px;
	height:1000px;
	background: white;
	z-index: 2;
	display: none;
}
.lists ul{
	list-style: none;
	height: 1000px;
}
.lists ul li{
	position: relative;
}
.lists li span{
	font-weight: bold;
	position: relative;
	left: -5px;
}
.lists li p{
	position: relative;
	left: 15px;
	top: -10px;
}
.lists ul .p1{
  position: relative;
  left: -30px;
  font-family: calibri;
  font-size: 25px;
}

.fa-clock-o{
	position: relative;
	left: -25px;
	color:rgb(172,125,325);
}
.fa-check-circle{
	position: relative;
	left: -25px;
	color: green;
}
.show {
    display: block;
}
