canvas {
  position: absolute;
  top: 10%;
  left: 85%;
  transform: translate(-50%, -50%);
}
body {
  margin:0;
  padding: 0;
  font-family:calibri;
}
.text{
    position: relative;
    left: 35%;
    top:35%;
    z-index: 1;
}
iframe{
    position: absolute;
}

#Btn{
    position: absolute;
    top:70px;
    left: 1090px;
    border:transparent;
    outline: none;
    background: transparent;
    cursor: pointer;
    color:white;
    z-index: 2;
    animation-delay:5s;
    font-family: calibri;
    font-size:18px;
}
.bg-modal1{
    width: 100%;
    height: 100%;
    background-color:rgba(0,0,0,0.5);
    position: absolute;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    display: none;
    z-index: 4;
}
.form-area{
    width: 280px;
    height: 430px;
    margin: 60px auto 0;
    position: relative;
    background: rgba(0,0,0,0.6);
    text-align: center;
    font-family: calibri;
    padding: 35px;
    box-shadow: 0 15px 25px rgba(0,0,0,.5);
    -webkit-border-radius:40px 0 40px 0;
    -moz-border-radius:40px 0 40px 0;
    border-radius: 40px 0 40px 0;
    border:1px solid gray;
}
.form-area h2{
    margin-bottom: 20px;
    color: #fff;
}
.img-area{
    width: 120px;
    height: 60px;
    position: absolute;
    top: -15%;
    left: 33%;
}
.img-area img{
    width:95%;
}
.form-area input{
    position: relative;
    top:0px;
    width: 100%;
    height: 15px;
    padding:10px 0;
    font-size: 16px;
    color: #fff;
    margin-bottom: 20px;
    border: none;
    border-radius: 0px;
    border-bottom: 1px solid gray;
    outline: none;
    background: transparent;
    font-family: calibri;
}
.form-area input:focus,
.form-area input:valid {
    border-bottom: 1px solid #fff;
}

.form-area p{
    position:relative;
    top:8px;
    text-align: left;
    color: #fff;
}
#close{
    position: absolute;
    right: 10px;
    top: 10px;
    float: right;
    border-radius: 6px;
    color: #fff;
    border:none;
    background-color: black;
    outline: none;
    cursor: pointer;
}
.bread{
    display: inline-block;
    height: 40px;
    width: 150px;
    line-height: 40px;
    overflow: hidden;
    position: relative;
    text-align: center;
    background:#03a9f4;
    color: #fff;
    text-transform: uppercase;
    margin-top: 20px;
    cursor: pointer; 
    text-decoration: none;
    border-radius: 5px;
}
.btn-text{
    display: block;
    height: 100%;
    position: relative;
    top: 0;
    -webkit-transition:top 0.6s;
    -moz-transition:top 0.6s;
    -ms-transition:top 0.6s;
    -o-transition:top 0.6s;
    transition:top 0.6s;
    width: 100%;
}
.bread:hover .btn-text{
    top: -100%;
    color: #fff;
}
.for-pass1{
    position: relative;
    top:-30px;
    display: block;
    margin-top:25px;
    font-size:15px;
    font-family: calibri;
    text-align:left;
    color:#03a9f4;
    border: none;
    background: transparent;
}

.bg-modal{
    width: 100%;
    height: 100%;
    background-color:rgba(0,0,0,0.5);
    position: absolute;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    display: none;
    border:1px solid gray;
}
.box{
    position: absolute;
    top:55%;
    left: 50%;
    height: 450px;
    transform: translate(-50%,-50%);
    width:350px;
    padding: 40px;
    background: rgba(0, 0, 0, 0.8);
    box-sizing: border-box;
    box-shadow: 0 15px 25px rgba(0,0,0,.5);
    border-radius: 10px;
}
.avatar{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    position: absolute;
    top: -70px;
    left: calc(50% - 50px);
}
.box h2{
    margin: 0;
    padding: 0 0 30px;
    color:#03a9f4;
    text-align: center;
}
.box .inputBox{
    position: relative;
}
.bg-modal .box input{
    width: 100%;
    padding: 10px 0px;
    font-size: 18px;
    color: #fff;
    margin-top:40px;
    border: none;
    border-bottom: 1px solid #fff;
    outline: none;
    border-radius: 0px;
    background: transparent;
}
.bg-modal .box .inputbox label{
    position:absolute;
    padding: 10 px 0;
    position: relative;
    top: -70px;
    left: 0;
    font-size:18px;
    color: #fff;
    font-family:calibri;
    pointer-events: none;
    transition:0.5s;

} 
.bg-modal .box .inputbox input:focus ~ label,
.bg-modal .box .inputbox input:valid ~ label{
    transition: -18px;
    left: 0;
    color:#03a9f4;
    font-size:13px;
}
.bg-modal .box input[type="submit"]
{
    position: relative;
    top:-25px;
    background: transparent;
    border: none;
    outline: none;
    width: 250px;
    color: #fff;
    background:#03a9f4;
    padding: 10px 20px; 
    cursor: pointer;
    border-radius: 5px;
}
.remember {
    position: relative;
    top:-20px;
}
.for-pass{
    text-decoration: none;
    display: block;
    margin-top:25px;
    font-size:15px;
    font-family: calibri;
    text-align:left;
    color:#03a9f4;
}

